input 
{
    file {
        path=>"C:/Users/sasha/Documents/restApp/data.csv"
        start_position=>"beginning"
        sincedb_path=>"NUL"
    }
}
filter
{
    csv 
    {
        separator => ","
        columns=> ["ID",	"Name",	"Age",	"Photo",	"Nationality",	"Flag",	"Overall",	"Potential", "Club"]
     }

    mutate{ convert=>["ID" ,"integer"]}
     mutate {  convert => ["Age" , "integer"]     }
     mutate {  convert => ["Overall" , "integer"]     }

}

output {
    elasticsearch {
        hosts=> "localhost:9200"
        index => "fifa"
        document_type=>"fifa_players"

    }
    stdout { }
}